body  {
    background: url(img/chucky.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


h2 {
    font-family: 'Chewy';
    color: whitesmoke;
}
.top {
	top: 200px;
}

.button {
	display: block;
	position: absolute;
	right: 47%;
	top: 280px;
	border-radius: 300px;
	text-decoration: none;
	height: 100px;
	text-align: center;
	width: 100px;
	z-index: 1;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	letter-spacing: -.065em;
	font-family: "Hammersmith One", sans-serif;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	font-weight: bold;
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-width: 4px;
	border-style: solid;
}
.button2 {
	display: block;
	position: absolute;
	right: -3%;
	top: -4px;
	border-radius: 300px;
	text-decoration: none;
	height: 100px;
	text-align: center;
	width: 100px;
	z-index: 1;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	letter-spacing: -.065em;
	font-family: "Hammersmith One", sans-serif;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	font-weight: bold;
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-width: 4px;
	border-style: solid;
}
.button:hover {
	width: 150px;
	height: 150px;
	top: 260px;
	right: 622px;
	padding-right: 20px;
	font-size: 0px;
	border-size: 200px;
	transform: rotate(-360deg);
	z-index: 2;
}
.red {
	background-color: rgba(239,57,50,1);
	color: rgba(133,32,28,1);
	border-color: rgba(133,32,28,.2);
}
.red:hover {
		color: white;
	}
.button2 {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 1px;
		border: none;
		padding: 40% 20% 0 20%;
		color: #fff;
}

.button span:hover {
	top: -10%;
	right: -10%;
	opacity: 0.85;
	font-size: 30px;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	width: 170px;
	height: 170px;	
	background: rgba(133,32,28,.7);	
}


/*@-moz-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-webkit-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-o-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}*/