body  {
    background: url(img/chucky.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h2 {
    font-family: 'Chewy';
    color: white;
}
