body  {
    background: url(img/chucky.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

p {
    margin-top: 10px;
}

h2 {
    font-family: 'Chewy';
    color: whitesmoke;
}
.top {
	height: 410px;
}
.mt {
    margin-top: 5px;
}
.button {
        display: block;
	/*top: 300px;*/
	border-radius: 300px;
	text-decoration: none;
	height: 90px;
	text-align: center;
	width: 90px;
	z-index: 1;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	letter-spacing: -.065em;
	font-family: "Hammersmith One", sans-serif;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	font-weight: bold;
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-width: 4px;
	border-style: solid;
}
.button2 {
	
	border-radius: 300px;
	text-decoration: none;
	height: 100px;
	text-align: center;
	width: 100px;
	z-index: 1;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	letter-spacing: -.065em;
	font-family: "Hammersmith One", sans-serif;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	font-weight: bold;
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-width: 90px;
	border-style: solid;
        /*position: absolute;*/ 
        display: block;
        opacity: 0;
        font-size: 1px;
        border: none;
        /*padding: 50% 20% 0 20%;*/
        color: #fff;
        right: 115px;
        top: -9px;  
}

.button:hover {
	width: 110px;
	height: 110px;
	font-size: 0px;
	transform: rotate(-360deg);
	z-index: 2;
}
.red {
	background-color: rgba(239,57,50,1);
	color: rgba(133,32,28,1);
	border-color: rgba(133,32,28,.2);
}
.red:hover {
	color: white;
	}



.button span:hover {
        padding-bottom: 20px; 
	opacity: 0.85;
	font-size: 18px;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	width: 120px;
	height: 120px;	
	background: rgba(133,32,28,.7);	
        right:-50px;
}
